body{
    width: 100%;
    height:100vh ;
    box-sizing: border-box;
    overflow-x: hidden;
}

.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #eef2ff, #c7d2fe);
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.home-container h1 {
  font-size: 42px;
  margin-bottom: 10px;
  color: #1f2937;
}

.home-container p {
  font-size: 18px;
  color: #4b5563;
  margin-bottom: 25px;
}

.home-btn {
  padding: 12px 22px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.home-btn:hover {
  background: #4338ca;
  transform: scale(1.05);
}
